.container {
    margin: 0 auto;
    max-width: 480px;
    justify-content: center;
    align-items: center;
    display: grid; 
    grid-template-columns: 90px 90px 90px 90px; 
    grid-template-rows: 90px 90px 90px 90px 90px; 
    gap: 3px 3px; 
    grid-template-areas: 
      "div18 div17 div19 div16"
      "div7 div8 div9 div14"
      "div4 div5 div6 div12"
      "div1 div2 div3 div11"
      "div23 div10 div22 div24"; 
  }
  .div23 { grid-area: div23; }
  .div10 { grid-area: div10; }
  .div22 { grid-area: div22; }
  .div1 { grid-area: div1; }
  .div2 { grid-area: div2; }
  .div3 { grid-area: div3; }
  .div11 { grid-area: div11; }
  .div4 { grid-area: div4; }
  .div5 { grid-area: div5; }
  .div7 { grid-area: div7; }
  .div6 { grid-area: div6; }
  .div8 { grid-area: div8; }
  .div9 { grid-area: div9; }
  .div12 { grid-area: div12; }
  .div14 { grid-area: div14; }
  .div18 { grid-area: div18; }
  .div17 { grid-area: div17; }
  .div24 { grid-area: div24; }
  .div16 { grid-area: div16; }
  .div19 { grid-area: div19; }




button {
    padding: 2em;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}